
.form-group {
    padding-bottom: 30px;
}

#weather-heading {
    background-color: #113a77;
    color: #fff;
}

.search-heading {
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 200px;
    width: 100%;
}

.jumbotron {
    background-color: rgb(188, 221, 240);
}

.search-bar {
    justify-content: center;
    margin: 0 auto 0 auto;
    display: flex;
}

.search-input {
    justify-content: center;
    margin: 0 auto 0 auto;
    align-content: center;
    width: 70%;
}

.btn.btn-danger.clear {
    font-size: 12px;
    float: right;
}

.container {
    background-color: #fff;
    width: 100%;
    justify-content: center;
}

.form-group{
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    margin: auto;
}

.col-sm-3 {
    background-color: #fff;
    padding: 10px;
    margin: 15px;
}

.cols-sm-10 {
    background-color: rgb(79, 102, 180);
    color: #fff;
    padding: 8px;
    display: flex;
}

.current-conditions {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    color: rgb(7, 35, 87);
    padding: 15px;
    text-align: center;
}

.future-forecast {
    padding: 15px;
}

.display-current-weather {
    font-size: 22px;
    font-weight: 500;
}

.display-current-ul {
    width: 400px;
    float: left;
}

.img {
    width: 75px;
    height: 75px;
}

.h2 {
    font-size: 24px;
}
