body {
    background-color: rgb(120, 182, 218);
}

#heading {
    background-color: rgb(17, 58, 119);
    color: #fff;
}

.container {
    background-color: #fff;
}

.form-group h1 {
    font-size: 20px;
    font-weight: 400;
}

.col-sm-3 {
    background-color: #fff;
    padding: 10px;
    margin: 15px;
}

.current-conditions {
    float: left;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
    color: rgb(7, 35, 87);
    padding: 10px;
}


.display-current-weather {
    font-size: 20px;
    font-weight: 500;
}

.img {
    width: 75px;
    height: 75px;
}
